{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>About</h1>
    <p></p>
</div>This is an age calculator web application built using Flask .This tool allows you to calculate your exact age in years, months, and seconds.Simply enter your name and date of birth, and our calculator will do the rest.Our mission is to provide an easy and accurate way to determine your ageWhether for fun or necessity, our calculator is here to helpThank you for using our Age Calculator!</p>
{% endblock %}
