{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Contact Us</h1>
    <div class="contact-details">
        <img src="{{ url_for('static', filename='your_image.jpg') }}" alt="Your Name">
        <div class="details">
            <p><strong>Your Name</strong></p>
            <p>Email  : srinivasvalava4441@gmail.com</p>
            <p>Phone  : 7816097245</p>
            <p>Address: 2-3/1,Doddipatla,westGodavari</p>
        </div>
    </div>
</div>
{% endblock %}

